body {
    font-family: sans;
    background-color:rgb(251, 251, 251);
   color:rgb(0, 217, 255);
    }
    header{ background-color: rgb(251, 255, 0);
    padding:8px;}
    nav{ background-color:rgb(251, 255, 0);
    padding:8px;
    }
